tgcrypto
asyncio
ffmpeg-python
py-tgcalls==0.8.1
pyrogram==1.4.12
youtube-search-python==1.4.9
yt_dlp
youtube_dl
youtube-search
python-dotenv
dnspython
gitpython
aiofiles
aiohttp
aiogram<3.0
requests
pillow
heroku3
motor
psutil
future
wget
pyyaml==5.3.1
speedtest-cli
telegraph
python-arq
bs4
